[Desktop Entry]
Name=OpenOnyx
Comment=Local-first knowledge management app
Exec=openonyx %U
Terminal=false
Type=Application
Icon=openonyx
StartupWMClass=OpenOnyx
Categories=Office;Utility;
MimeType=text/markdown;text/plain;
